<!-- <!DOCTYPE html>                                                               -->
<!-- <html>                                                                        -->
<!--     <head>                                                                    -->
<!-- 	<meta charset="utf-8">                                                       -->
<!-- 	<meta property="og:image" content="/img/board.jpg" />                        -->
<!-- 	<meta name="keywords" content="FiNC, 掲示板, PHP, 練習" />              -->
<!-- 	<meta name="description" content="研修1修了テストの課題" />        -->
<!-- 	<meta property="og:description" content="研修1修了テストの課題" /> -->
<!-- 	<title>スレッド作成 | 掲示板だよ</title>                          -->
<!--     </head>                                                                   -->

<!--     <body>                                                                    -->
<!-- 	{% for key, thread_name in threads %}                                        -->
<!-- 	<li><a href='/thread/manage/{{ key }}'>{{ thread_name }}</a></li>            -->
<!-- 	{% endfor %}                                                                 -->

<!-- 	<!-- <a href='/user/login'>マイページ</a> -->                           -->
<!--     </body>                                                                   -->
<!-- </html>                                                                       -->
