<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta property="og:image" content="/img/board.jpg" />
	<meta name="keywords" content="FiNC, 掲示板, PHP, 練習" />
	<meta name="description" content="研修1修了テストの課題" />
	<meta property="og:description" content="研修1修了テストの課題" />
	<title>掲示板だよ</title>
    </head>

    <body>

	<h2>新規登録</h2>
	<p>
	<form action='/templates/create_user.twig' method='post'>
	    <p><label>ユーザー名:<input type='text' name='user_name' size='30' maxlength='30'></label></p>
	    <p><label>パスワード:<input type='password' name='password' size='30' maxlength='30'></label></p>
	    <p><input type='submit' value='登録'></p>
	</form>
	</p>


	<h2>ログイン</h2>
	<p>
	<form action='/templates/login.twig' method='post'>
	    <input type='hidden' value='{{ user_name }}'>
	    <input type='hidden' value='{{ password }}'>
	    <p><input type='submit' value='ログイン'></p>
	</form>
	</p>
    </body>

</html>
