<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<meta property="og:image" content="/img/board.jpg" />
	<meta name="keywords" content="FiNC, 掲示板, PHP, 練習" />
	<meta name="description" content="研修1修了テストの課題" />
	<meta property="og:description" content="研修1修了テストの課題" />
	<title>新規登録 | 掲示板だよ</title>
    </head>

    <body>
	{{ user_name }}さん、ご登録ありがとうございます！
	<form action='/user/login' method='post'>
	    <input type='hidden' value='{{ user_name }}'>
	    <input type='hidden' value='{{ password }}'>
	    <p><input type="submit" value='ログイン'></p>
	</form>
    </body>
</html>
