<h2>マイページ</h2>


<!-- $messageによって出し分け -->
<p>
<a href='/thread/list'>掲示板一覧</a><br>
<a href='/thread/manage'>掲示板編集</a>

<form action='/thread/create' method='post'>
    <p><label>スレッド名:<input type='text' name='thread_name' size='30' maxlength='30'></label></p>
    <p><input type="submit" value='スレッド作成'></p>
</form>

<a href='/user/logout'>ログアウト</a>

